<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mcmp2.Properties.Settings.cda28_bd3ConnectionString"
            connectionString="server=cda28.2isa.org;user id=cda28;password=7974cda28;database=cda28_bd3;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>